
/* Por clase*/
.titulos {
    color: rgb(1, 1, 22);
    font-size: 30px;
    background: rgb(221, 217, 212);
}
/* Por ID*/
#id_titulo {
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
/* Por Seudoclase (eventos)*/
i:hover {
    color: aqua;
    font-size: 30px;
}
input:focus {
    border: 5px red;
    font-size: 20px;
    background: rgb(196, 196, 255);
}
/* Por Atributo*/
[id] {
    font-size: 50px;
    color: rgb(169, 85, 247);
}
img[alt="uce"]{
    width: 100px;
    height: 100px;

}
/* Por universal*/
*{

}

